<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-deaf me-3"></i>Solutions Auditives</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{ path('app_home_page') }}" class="nav-item nav-link active">Accueil</a>
           <a href="{{ path('app_home_page') }}#about" class="nav-item nav-link">À propos</a>
            <a href="{{ path('app_home_page') }}#services" class="nav-item nav-link">Services</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="{{ path('app_appointment_new') }}#form" class="dropdown-item">Prendre Rendez-vous</a>
                    <a href="{{ path('app_appointment_index') }}#liste" class="dropdown-item">Votre Liste Rendez-vous</a>
                    {# <a href="404.html" class="dropdown-item">Page 404</a> #}
                </div>
            </div>
            <a href="{{ path('app_home_page') }}#solutions" class="nav-item nav-link">Solutions</a>
        </div>
        <a href="{{ path('app_logout') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
            Déconnexion <i class="fa fa-arrow-right ms-3"></i>
        </a>
    </div>
</nav>
