<div class="form-container " id="form">
    {{ form_start(form) }}
       
        <h2>Formulaire des rendez-vous</h2>
        <div class="form-group">
            {{ form_row(form.client, {'attr': {'class': 'form-control'},'label': 'NUM TEL'}) }}
        </div>
         <div class="form-group">
            {{ form_row(form.user, {'attr': {'class': 'form-control'}, 'label': 'Email de l\'utilisateur'}) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
    <div class="form-group">
        {{ form_label(form.adminComment) }}
        {{ form_widget(form.adminComment, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endif %}

        
        <div class="form-group">
            {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        
   <div class="form-group">
    {{ form_row(form.status, {'attr': {'class': 'form-control'}, 'label': 'Service'}) }}
</div>


        
        <div class="form-group">
            {{ form_row(form.created_at, {'attr': {'class': 'form-control',},'label': 'Créé le'}) }}
        </div>
        
        <div class="form-group">
            {{ form_row(form.updated_at, {'attr': {'class': 'form-control mb-3',},'label': 'Modifié le'}) }}
        </div>

        <button class="btn btn-primary ">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
