{% extends layout %}

{% block body %}
<div class="container mt-4" id="show">

    <h2 class="mb-4 text-center liste">Détails du Rendez-vous</h2>
  <div class="table-container">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">NUM TEL</th>
                            <td>{{ appointment.user.cin }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Client</th>
                            <td>
                                {% if appointment.user %}
                                    {{ appointment.user.firstName }} {{ appointment.user.lastName }}
                                {% else %}
                                    <span class="text-muted">Non assigné</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Date</th>
                            <td>{{ appointment.date ? appointment.date|date('Y-m-d H:i:s') : '-' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>{{ appointment.status }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Créé le</th>
                            <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '-' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mis à jour le</th>
                            <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="{{ path('app_appointment_index') }}#liste" class="btn btn-secondary ">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>
        <div class="d-flex gap-3" sty>
            <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}#form" class="btn btn-primary ">
                <i class="fas fa-edit"></i>
            </a>
            {{ include('appointment/_delete_form.html.twig', { 'class': 'btn btn-danger ' }) }}
        </div>
    </div>

</div>
</div>
{% endblock %}
